/* Resetting default browser styles */
body,
h1,
h2,
p,
ul,
li,
img {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

/* Overall page style */
body {
	font-family: "Roboto", sans-serif;
	line-height: 1.6;

	color: #333;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header styling */
header {
	text-align: center;
	padding: 20px;
	background-color: #012722;
	color: white;
	border-radius: 8px;
	margin-bottom: 20px;
}

/* Main content styling */
main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* Profile section styling */
#profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 1px 1px 1px 1px #4b4b4b;
}

#profile img {
	margin: 0 auto;
}

.emphasis {
	color: #012722;
	font-weight: bold;
}

/* Time and date section styling */
#date {
	padding: 20px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	justify-content: center;
}

/* Goals section styling */
#goals {
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

#goals h2 {
	color: #012722;
	margin-bottom: 10px;
	text-align: center;
}

#goals ul {
	display: flex;
	flex-direction: column;
	align-items: start;
}

#goals li {
	margin-bottom: 10px;
	list-style: disc;
}

/* Links section styling */
#links {
	padding: 20px;
	border-radius: 8px;
}

#links h2 {
	color: #012722;
	margin-bottom: 10px;
	text-align: center;
}

#links ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
}

#links a {
	color: #012722;
	text-decoration: none;
	transition: color 0.3s ease;
}

#links a:hover {
	color: blue;
}

/* Responsive design */
@media (max-width: 768px) {
	#profile {
		flex-direction: column;
		text-align: center;
		align-items: start;
	}

	#date {
		align-items: start;
	}

	#goals {
		align-items: start;
	}
	#goals ul {
		align-items: start;
	}

	header h1 {
		font-size: 1.5rem;
	}
}
